@{
    ViewData["Title"] = "Acknowledgements";
}
<h1>@ViewData["Title"]</h1>

<h5>Sprites/Images</h5>
<ul>
    <li>
        <p>Enemy Reaper Sprite</p>
        <p>
            Author: <a href="https://craftpix.net/">CRAFTPIX.NET</a><br />
            <a href="https://craftpix.net/freebies/free-reaper-man-chibi-2d-game-sprites/">Resource</a>
        </p>
    </li>
    <li>
        <p>Player Sprites</p>
        <p>
            Author: <a href="https://craftpix.net/">CRAFTPIX.NET</a><br />
            <a href="https://craftpix.net/freebies/free-pixel-art-tiny-hero-sprites/">Resource</a>
        </p>
    </li>
    <li>
        <p>World Models</p>
        <p>
            Author: <a href="https://www.gamedevmarket.net/member/blackspirestudio/">blackspirestudio</a><br />
            <a href="https://www.gamedevmarket.net/asset/medieval-pixel-art-asset-free/">Resource</a>

        </p>
    </li>
</ul>
<h5>Sounds</h5>
<ul>
    <li>
        <p>Background Music</p>
        <p>
            Author: <a href="https://twitter.com/watawatabou">watawatabou</a><br />
            <a href="https://downloads.khinsider.com/game-soundtracks/album/remixed-pixel-dungeon-android-game-music">Resource</a>

        </p>
    </li>
    <li>
        <p>Coin Sound Effect</p>
        <p>
            Author: <a href="https://freesound.org/people/bradwesson/">Bradwesson</a><br />
            <a href="https://freesound.org/people/bradwesson/sounds/135936/">Resource</a>

        </p>
    </li>
    <li>
        <p>Falling Rock Sound Effect</p>
        <p>
            Author: <a href="https://freesound.org/people/SoundCollectah/">SoundCollectah</a><br />
            <a href="https://freesound.org/people/SoundCollectah/sounds/157804/">Resource</a>

        </p>
    </li>
    <li>
        <p>Player Throwing Sound Effect</p>
        <p>
            Author: <a href="https://freesound.org/people/denao270/">denao270</a><br />
            <a href="https://freesound.org/people/denao270/sounds/346373/">Resource</a>

        </p>
    </li>
    <li>
        <p>Player Walking Sound Effect</p>
        <p>
            Author: <a href="https://freesound.org/people/FxKid2">FxKid2</a><br />
            <a href="https://freesound.org/people/FxKid2/sounds/365810/">Resource</a>

        </p>
    </li>
    <li>
        <p>Player Death Sound Effect</p>
        <p>
            Author: <a href="https://freesound.org/people/Reitanna">Reitanna</a><br />
            <a href="https://freesound.org/people/Reitanna/sounds/344033/">Resource</a>
        </p>
    </li>
    <li>
        <p>Chest Open Sound Effect</p>
        <p>
            Author: <a href="https://www.pond5.com/artist/ghetty">Ghetty</a><br />
            <a href="https://www.pond5.com/sound-effect/87572646/quest-game-door-wood-chest-open-metal-lock-9-long-unload-loo.html">Resource</a>
        </p>

    </li>
    <li>
        <p>Lever Sound Effect</p>
        <p>
            Author: <a href=""></a><br />
            <a href="">Resource</a>
        </p>

    </li>
    <li>
        <p>Open Door Sound Effect</p>
        <p>Author: <a href=""></a><br />
                                  <a href="">Resource</a></p>
        
    </li>
    <li>
        <p>Menu Open Sound Effect</p>
        <p>
            Author: <a href=""></a><br />
            <a href="">Resource</a>
        </p>

    </li>
</ul>