@{
    ViewData["Title"] = "Overview";
}
<h1>@ViewData["Title"]</h1>

<h3>Important Aspects and Features</h3>
<p>
    Pixel Runner is a game hosting platform that provides its users with an array of games to be enjoyed.
    Each game is listed in the Games tab on the navigation bar.
</p>

<h3>How to Use</h3>
<p>
    You can access a list of all available games through the 'Games' tab on the navigation bar.
    You can then click on the play button to load the game view.
    Once on the game view page, you can select from the dropdown any of your previously saved game progress states OR select 'New Game' to start a new game.
    While the game is running you will be able to navigate the player through the level.
    For example for the game "Pixel Runner" you have the following controls available to you:
</p>
<h5>Basic Movements</h5>
<ul>
    <li>Move Left: A</li>
    <li>Move Right: D</li>
    <li>Jump: Spacebar</li>
</ul>
<h5>Ladder Controls (while near ladder)</h5>
<ul>
    <li>Climb Up: W</li>
    <li>Climb Down: D</li>
    <li>Climb Left: A</li>
    <li>Climb Right: D</li>
</ul>
<h5>Other controls</h5>
<ul>
    <li>Throw Projectile: Left Click</li>
    <li>Interact: E</li>
    <li>Pause Game: Escape</li>
</ul>
<p>
    We hope that each game has a provided tutorial for you, but due to incomplete progress they have been listed here for convienence
</p>
<h4>Reviews</h4>
<p>
    The game also provides users the ability to write reviews. The reviews section can be located below each game on the game view page.
    Simply write up a review, give it a rating (1-5 stars) and hit save.
</p>
<h4>In-game Store</h4>
<p>
    While in game, the user has the ability to purchase and select new skins for use in game. Simply click on the 'Shopping cart' icon (top right)
    To select a skin, simply hover over it and click on it.
    To purchase a new skin, click on any of the available skins and if you have enough gold to purchase it, it will be unlocked and applied as your selected skin.
</p>
<h4>Volume Settings</h4>
<p>
    At any time the player may want to adjust game volume levels. To do so, simple click on the 'Gear icon'.
    While the settings menu is displayed over the game, you may check the 'Disable sounds' checkbox to remove all sounds, or adjust the levels
    of a specific sound type (either background or sound effect) by dragging the sliders to the left (decrease volume) or right (increase volume).
</p>
